@using midterm.Models
@model List<Category>
@using System.Collections.Generic

<table class="table">
    <thead>
     <tr>
       <th> Id </th>
       <th> Description  </th>
       <th> Cost  </th>
     </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
           <td> @item.Id </td>
           <td> @item.Description </td>
           <td> @item.Cost </td>
        </tr>
    }
    </tbody>
</table> 